# Wally packages
/DevPackages
/Packages

# Test places and builds
**/*.rbx[lm]*

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Misc OS and editor files
.DS_Store
.vscode
.idea

# Foreman installation
/.foreman-install
